@charset "utf-8";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-full bg-white dark:bg-neutral-950;
  }
}

body {
  /* font-family: 'Poppins', 'M Plus 1p', sans-serif; */
  min-height: 100vh;
}

html {
  visibility: hidden;
}

html.wf-active,
html.loading-delay {
  visibility: visible;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(39, 58, 223, 0.5);
  border-radius: 10px;
}

h2.section-title {
  font-family: 'futura-pt', sans-serif;
}
