@charset "utf-8";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: 'Poppins', 'M Plus 1p', sans-serif; */
  font-family: 'usual', 'kinto-sans', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(39, 58, 223, 0.5);
  border-radius: 10px;
}

h2.section-title {
  font-family: 'futura-pt', sans-serif;
}